* {
  box-sizing: border-box;
  transition: ease-in-out 250ms;
}

body {
  font-family: 'bitstream_vera_sans_monoroman', Arial, sans-serif;
  text-align: center;
  background-color: #e4e1e1;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  width: 95%;
  max-width: 70em;
  margin: 0 auto;
}

.clearfix::after,
section::after,
footer::after {
  content: '';
  display: block;
  clear: both;
}

/* ============ TYPOGRAPHY ============ */

h1 {
  font-weight: 300;
  font-size: 1.7rem;
  margin-top: 0;
}

p {
  margin-top: 0;
  line-height: 1.5;
}

p:last-of-type {
  margin-bottom: 0;
}

.title {
  font-size: 2.2rem;
  margin-bottom: 1.5em;
  margin-top: 1em;
  font-weight: 900;
}

.title-cta {
  margin: 0 0 0.5em;
}

.subtitle {
  display: block;
  font-weight: 300;
  font-size: .9rem;
}

.unstyled-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

@media (min-width: 30rem) {
  h1 {
    font-size: 2rem;
  }
}

@media(min-width: 55rem) {
  h1 {
    font-size: 2.5rem;
  }

  p {
    font-size: 1.2rem;
    line-height: 1.6;
  }

  .title {
    font-size: 4rem;
  }

  .subtitle {
    font-size: 1.85rem;
  }
}

/* BUTTONS */

.btn {
  display: inline-block;
  font-size: 1.15rem;
  text-decoration: none;
  text-transform: uppercase;
  border-width: 2px;
  border-style: solid;
  padding: .5em 1.75em;
}

.btn-accent {
  color: #866089;
  border-color: #866089;
}

.btn-accent:hover,
.btn-accent:focus {
  background: #dddddd;
  color: #896078;
}

.btn-dark {
  color: #232323;
  border-color: #232323;
}

.btn-dark:hover,
.btn-dark:focus {
  background: #dddddd;
  color: #896078;
}



@media(min-width:55rem) {
  .btn {
    font-size: 1.5rem;
  }
}

/* ============ HEADER ============ */

header {
  position: absolute;
  left: 0;
  right: 0;
  margin: 1em;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin: 1em;
}

nav a {
  color: #ffffff;
  font-weight: 900;
  font-size: .8rem;
  text-decoration: none;
  text-transform: uppercase;
  padding: .5em;
}

nav a:hover,
nav a:focus {
  color: #866089;
}

@media(min-width: 55rem) {
  .logo {
    float: left;
  }

  nav {
    float: right;
  }
}

/* ============ HOME HERO ============ */

.home-hero {
  background: url(./images/pexels-oleg-magni-1040473.jpg);
  background-size: cover;
  background-position: center;
  padding: 8em 0;
}

@media(min-width: 55rem) {
  .home-hero {
    height: 100vh;
    padding-top: 35vh;
  }
}

/* ============ HOME ABOUT ============ */

.home-about-textbox {
  background-color: #232323;
  padding: 4em;
  width: 100vw;
  margin-left: -2.5%;
  outline: 2px solid #866089;
  outline-offset: -2.5em;
  color: #FFF;
  position: relative;
}

.home-about-textbox h1 {
  color: #866089;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: .7em;
  background: #232323;
  padding: 0.145em;
}

@media (min-width: 30rem) {

  .home-about-textbox {
    padding: 5.5em;
  }

  .home-about-textbox h1 {
    top: .325em;
    padding: 0.325em;
  }
}

@media (min-width: 55rem) {

  .home-about {
    background-image: url(./images/pexels-jessica-lewis-583848.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-bottom: 10em;
  }

  .home-about-textbox {
    width: 50%;
    padding: 7em;
    outline-offset: -3.75em;
    top: -5em;
    text-align: left;
    box-shadow: 0 0 4em 0 rgba(0, 0, 0, .3);
  }

  .home-about-textbox h1 {
    top: .6em;
    left: 6rem;
    transform: translateX(0);
  }
}

/* ============ HOME SKILLS ============ */

.skills {
  margin: 3em 0 0;
}

.skill-item {
  position: relative;
  margin: 0;
}

.skill-item img {
  display: block;
  height: 256px;
  width: 256px;
}

.skill-detail {
  position: absolute;
  z-index: 100;
  bottom: 2em;
  left: 3em;
  right: 3em;
  color: #ffffff;
  background: rgba(0, 0, 0, .6);
}

.skill-detail p {
  margin: 1em;
}

@media (min-width: 37rem) {
  .skill-item {
    width: 50%;
    float: left;
  }

  .skill-detail {
    bottom: 2em;
    left: 3em;
    right: 3em;
  }
}


@media (min-width: 55rem) {
  .skill-item {
    width: 33.3333334%;
    overflow: hidden;
  }

  .skill-detail {
    transform: translateY(150%);
    bottom: 1em;
    left: 0;
    right: 0;
  }

  .skill-item:hover .skill-detail {
    transform: translateY(0%);
  }
}

/* ============ HOME CTA ============ */

.cta {
  background-color: #866089;
  padding: 6em 0;
}

/* ============ FOOTER ============ */

footer {
  background: #232323;
  color: #ffffff;
  text-align: left;
  padding: 2em 0;
}

footer a {
  color: #ffffff;
  text-decoration: none;
}

footer a:hover,
footer a:focus {
  color: #dddddd;
}

[class^=col-] {
	width: 100%;
	margin-top: 1em;
}

[class^=col-]:first-child {
	margin-top: 0;
}

@media (min-width: 40rem) {

	[class^=col-] {
		float: left;
		padding: 0 .5em;
		margin-top: 0;
	}

	[class^=col-]:first-child {
		padding-left: 0;
	}

	[class^=col-]:last-child {
		padding-right: 0;
	}

	.col-3 {
		width: 35%;
	}

	.col-1 {
		width: 21.6666%;
	}
}